@import "tailwindcss";

@layer base {
    :root {
        --red: #e8192c;
        --blue: #003da5;
        --gold: #d4af37;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: "DM Sans", sans-serif;
        background: #0a0a0f;
        color: #ffffff;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Syne", sans-serif;
    }
}

.bg-grid-pattern {
    background-image: linear-gradient(rgba(255, 255, 255, 1) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 1) 1px, transparent 1px);
    background-size: 60px 60px;
}